---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';


---

<Layout title="Welcome to Astro.">
	<main>
		<div class="flex justify-center items-center mt-[164px]">
			<Card
				title="Embracing Minimalism"
				body="From minimalist sculptures to minimalist paintings, this blog will inspire you to appreciate the beauty that lies in simplicity."
				author="Annie Spratt"
				tag="Design"
				image="/images/cactus_img.jpg"
			></Card>
		</div>
	</main>
</Layout>

<style>
</style>
